Print outer node, though inner node not found

YANG does contain the inner node
```
# ./grepyang cancel-commit 'ietf-netconf@2011-06-01.yang'
853:  rpc cancel-commit {
854:    if-feature confirmed-commit;
855:    description
856:      "This operation is used to cancel an ongoing confirmed commit.
857:       If the confirmed commit is persistent, the parameter
858:       'persist-id' must be given, and it must match the value of the
859:       'persist' parameter.";
860:    reference "RFC 6241, Section 8.4.4.1";
861:
862:    input {
863:      leaf persist-id {
864:        type string;
865:        description
866:          "This parameter is given in order to cancel a persistent
867:           confirmed commit.  The value must be equal to the value
868:           given in the 'persist' parameter to the <commit> operation.
869:           If it does not match, the operation fails with an
870:          'invalid-value' error.";
871:      }
872:    }
873:  }
```

Still, if the inner block does not exist, the outer node comes out, blank:
```
# ./grepyang output cancel-commit 'ietf-netconf@2011-06-01.yang'
853:  rpc cancel-commit {
873:  }
```

Fixed in https://github.com/ariel-anieli/grepyang/commit/8fa12f4bcab067423cd4a4aa3b1546eb2c373711